<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/application.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
</head>
<title>Hello from Dan Borges</title>
<body>
  <section class="sample" id="tufte">
    <section class="text">
      <a href="http://www.google.com/webfonts/specimen/Vollkorn" title="Vollkorn">
        <h1><span>Jorge Luis B<span class="kern">o</span>r<span class="kern push">g</span>es</span></h1>
        {% if words %}
        <script type=text/javascript>
		setInterval(
		function()
		{
		     $.getJSON(                           
		        $SCRIPT_ROOT + '/get_values',      
		        {},                              
		        function(data)                    
		        {
		          // console.log(data.result)
		          $("#wordline").text(data.result).prepend('<span>&ldquo;</span>').append('<span>&rdquo;</span>');; 
		        });
		  },
		  10000);                                    
		</script>
        <p id="wordline"><span>&ldquo;</span>{{ words }}<span>&rdquo;</span></p>
        {% else %}
		<p><span>&ldquo;</span>There is an error<span>&rdquo;</span></p>
		{% endif %}
      </a>
    </section>
  </section>
</body>
		